<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cirebon</title>
    <link rel="icon" type="image/x-icon" href="https://storage.googleapis.com/tidal-turbine-381309.appspot.com/assets/wanwan-circle.png">
    <script src="https://unpkg.com/feather-icons"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>
    <header>
      <nav>
        <div>
          <span class="Kota">Graidy Megananda </span>
        </div>
        <div>
          <a class="nav-button" href="#">Home</a>
          <a class="nav-button" target="_blank" href="https://www.cloudskillsboost.google/public_profiles/8630903b-df05-475c-9094-e5664103e9d0"><i class="fa fa-cloud"></i> Clouds Skills Boost</a>
          <a class="nav-button" target="_blank" href="https://web.facebook.com/graidy.megananda.5/"><i class="fa fa-facebook"></i> Facebook</a>
          <a class="nav-button" target="_blank" href="https://www.instagram.com/graidy25/"><i class="fa fa-instagram"></i> Instagram</a>
        </div>
      </nav>
    </header>

    <main>
      <div id="tf-about" class="founder"> 
        <div class="container-cust">
            <div class="text-white relative-left">
                <div style="
                              position: relative;
                              font-style: bold;
                              font-size: 50px;
                          ">Graidy Megananda</div>
                <div
                    style="
                        position: relative;
                        top: 10px;
                        font-style: italic;
                        font-size: 25px;
                        opacity: 0.75;
                    "
                >
                    Junior Engineer
                </div>
                <div class="deskripsi" style="position: relative; top: 30px">
                  A passionate third-year computer science undergraduate student 
                  at Sepuluh Nopember Institute of Technology. Currently learning about Google Cloud 
                  Platform. Beside that, I'm also experienced on building website using Laravel framework.
                </div>
            </div>
    
            <div class="">
                <img
                    src="https://storage.googleapis.com/tidal-turbine-381309.appspot.com/assets/graidy.png"
                    class="imgTentang"
                    style="margin: auto; position: relative;
                    left: 150px; top: 40px"
                />
            </div>
        </div>
    </div>
    </main>

    <aside>
      <div>
        <!-- <article>
            <h1 class="litte-about-me">Little about me</h1>
        </article> -->

<!---- CAROUSEL ---->
      <!-- <div class="flex justify-center text-center">
        <div class="">
            <div class="col p-0">
                <div
                    class="slideshow-container flex justify-center"
                    id="carouselAnimation2"
                >
                    <div class="mySlides elementToFadeInAndOut">
                        <img
                            src="../assets/wanwan-circle.png"
                            class="img-responsive imgCarousel "
                            style="margin: auto"
                        />
                        <br /><br />
                    </div>
                    <div class="mySlides elementToFadeInAndOut">
                        <img
                            src="../assets/wanwan-circle.png"
                            class="img-responsive imgCarousel "
                            style="margin: auto"
                        />
                        <br /><br />
                    </div>
                </div>
                <div style="text-align: center">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
        </div>
    </div> -->
    <!---- END OF CAROUSEL ---->
  </div>
</div>
    </aside>
    

      <!-- <br/><br/> -->
    <footer>
      <div class="socials">
        <p>© Copyright: Graidy Megananda</p>
        <a href="#"><i data-feather="instagram"></i></a>
        <a href="#"><i data-feather="twitter"></i></a>
        <a href="#"><i data-feather="facebook"></i></a>
      </div>
    </footer>
  </body>
  <script>
    //CAROUSEL
    // let slideIndex = 0;
    // showSlides();

    // function showSlides() {
    //     let i;
    //     let slides = document.getElementsByClassName("mySlides");
    //     let dots = document.getElementsByClassName("dot");
    //     for (i = 0; i < slides.length; i++) {
    //         slides[i].style.display = "none";
    //     }
    //     slideIndex++;
    //     if (slideIndex > slides.length) {
    //         slideIndex = 1;
    //     }
    //     for (i = 0; i < dots.length; i++) {
    //         dots[i].className = dots[i].className.replace(" activeDot", "");
    //     }
    //     slides[slideIndex - 1].style.display = "block";
    //     dots[slideIndex - 1].className += " activeDot";
    //     setTimeout(showSlides, 6500); // Change image every 3.5 seconds
    // }
    // END OF CAROUSEL
</script>
</html>
